@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');

.app {
  font-family: 'Poppins', sans-serif;
  line-height: 1.5;
  color: var(--color-fg);
  background-color: var(--color-bg);
}

.light {
  --color-bg: #fcfcfc;
  --color-bg-alt: #fff;
  --color-fg: rgb(192, 192, 192);
  --color-fg-alt: rgb(41, 41, 41);
  --color-primary: #222222;
  --shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.dark {
  --color-bg: #23283e;
  --color-bg-alt: #2a2f4c;
  --color-fg: #bdbddd;
  --color-fg-alt: #cdcdff;
  --color-primary: #90a0d9;
  --shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

main {
  margin: 0 auto;
}

.center {
  z-index: 999;
  display: flex;
  align-items: center;
}

.link {
  color: var(--color-primary);
  padding: 0 0 0.3em 0;
  position: relative;
}

.link:hover {
  color: var(--color-primary);
}

.link::before {
  content: '';
  display: inline;
  width: 0%;
  height: 0.2em;
  position: absolute;
  bottom: 0;
  background-color: var(--color-primary);
  transition: width 0.2s ease-in;
}

.link:hover::before {
  width: 100%;
}

.link-nav {
  color: var(--color-fg);
  font-weight: 500;
  margin-top: 5px;
}

.btn {
  padding: 0.8em 1.4em;
  font-weight: 500;
  font-size: 0.9rem;
  text-transform: lowercase;
  transition: transform 0.2s ease-in-out;
}

.btn--outline {
  color: var(--color-primary);
  border: 2px solid var(--color-primary);
  position: relative;
  overflow: hidden;
  z-index: 1;
}

.btn--outline:hover {
  color: var(--color-bg);
}

.btn--outline:before {
  content: '';
  position: absolute;
  background-color: var(--color-primary);
  right: 100%;
  bottom: 0;
  left: 0;
  top: 0;
  z-index: -1;
  transition: right 0.2s ease-in-out;
}

.btn--outline:hover:before {
  right: 0;
}

.btn--plain {
  text-transform: initial;
  background-color: var(--color-bg-alt);
  box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;
  border: 0;
}

.btn--plain:hover {
  transform: translateY(-4px);
}

.btn--icon {
  padding: 0;
}

.btn--icon:hover {
  color: var(--color-primary);
}

.btn--icon:active {
  transform: translateY(-5px);
}

.white--font {
  color: white;
}

.monserrat {
  font-family: 'Montserrat', sans-serif;
}

.garamond {
  font-family: 'EB Garamond', serif;
}

.desktop-primary-text {
  font-size: 4.5rem;
}

.mobile-primary-text {
  font-size: 2.5rem;
}

.desktop-secondary-text {
  font-size: 1.875rem;
}

.mobile-secondary-text {
  font-size: 1.3rem;
}
